*.iws
*.ipr
*.iml
server/*.iml
server/*.ipr
server/*.iws
core/*.iml
core/*.ipr
core/*.iws
agent/*.iml
agent/*ipr
agent/*.iws
.idea
target
server/target
agent/target
rest/target
server/reports
agent/reports
rest/reports
server/src/test/resources/repository/svn
