*.iws
*.ipr
*.iml
server/*.iml
server/*.ipr
server/*.iws
core/*.iml
core/*.ipr
core/*.iws
agent/*.iml
agent/*ipr
agent/*.iws
.idea
target
server/target
agent/target
core/target
server/reports
agent/reports
core/reports
out
core/out
server/out
agent/out
server/src/test/resources/repository/svn
